<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fuxion" version="0.1.10-beta.57" targetFramework="net45" />
  <package id="Fuxion.Log4net" version="0.1.10-beta.57" targetFramework="net45" />
  <package id="Fuxion.Windows" version="0.1.10-beta.57" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>