@page "/"
@using Syncfusion.Blazor.Layouts
@using Ordinem.Tasks.Shell.Web

<h1>Hola</h1>

<button @onclick="Click">ClickMe</button>

<Component1></Component1>
<div>
	<SfDashboardLayout @ref="dashboardObject" CellSpacing="@(new double[]{0 ,0 })" Columns="100" ShowGridLines="true" AllowResizing="true" AllowFloating="false" AllowDragging="true">
		<ChildContent>
			<div id="one" class="e-panel" data-row="0" data-col="0" data-sizeX="100" data-sizeY="50">
				<div class="e-panel-container">
					<div class="text-align">0</div>
				</div>
			</div>
			<div id="two" class="e-panel" data-row="50" data-col="0" data-sizeX="50" data-sizeY="50">
				<div class="e-panel-container">
					<div class="text-align">1</div>
				</div>
			</div>
			@*<div id="three" class="e-panel" data-row="0" data-col="10" data-sizeX="20" data-sizeY="20">
					<div class="e-panel-container">
						<div class="text-align">2</div>
					</div>
				</div>
				<div id="four" class="e-panel" data-row="20" data-col="10" data-sizeX="10" data-sizeY="10">
					<div class="e-panel-container">
						<div class="text-align">3</div>
					</div>
				</div>
				<div id="five" class="e-panel" data-row="20" data-col="20" data-sizeX="20" data-sizeY="10">
					<div class="e-panel-container">
						<div class="text-align">4</div>
					</div>
				</div>
				<div id="six" class="e-panel" data-row="0" data-col="30" data-sizeX="10" data-sizeY="10">
					<div class="e-panel-container">
						<div class="text-align">5</div>
					</div>
				</div>
				<div id="seven" class="e-panel" data-row="10" data-col="30" data-sizeX="10" data-sizeY="10">
					<div class="e-panel-container">
						<div class="text-align">6</div>
					</div>
				</div>
				<div id="eight" class="e-panel" data-row="0" data-col="4" data-sizeX="1" data-sizeY="3">
					<div class="e-panel-container">
						<div class="text-align">7</div>
					</div>
				</div>*@
		</ChildContent>
	</SfDashboardLayout>
</div>