<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fuxion" version="0.0.3-alpha105" targetFramework="net461" />
  <package id="Fuxion.Licensing" version="0.0.1-alpha011" targetFramework="net461" />
  <package id="Fuxion.Log4net" version="0.0.3-alpha012" targetFramework="net461" />
  <package id="Fuxion.SimpleInjector" version="0.0.2-alpha008" targetFramework="net461" />
  <package id="Fuxion.Windows" version="0.0.1-alpha013" targetFramework="net461" />
  <package id="log4net" version="2.0.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net461" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net461" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net461" />
  <package id="SimpleInjector" version="3.3.2" targetFramework="net461" />
  <package id="Validation" version="2.2.8" targetFramework="net461" />
</packages>