<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fuxion" version="0.0.3-alpha097" targetFramework="net461" />
  <package id="Fuxion.Log4net" version="0.0.3-alpha011" targetFramework="net461" />
  <package id="log4net" version="2.0.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net461" />
  <package id="SimpleInjector" version="3.3.2" targetFramework="net461" />
</packages>