{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Sige PA"
  },
  "host": "apipaescandinavauat.sigeenergia.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/Agente/GetMailAgente/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Agente/{IdAgente}": {
      "get": {
        "tags": [
          "Agente"
        ],
        "summary": "Devuelve el correo de un agente si es agente o distribuidor , o el correo del agente y subagente si es un subagente.",
        "operationId": "Agente_GetMailAgente",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdAgente",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/v1/Agente/ListadoAgentes/{IdAgente}/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "Agente"
        ],
        "summary": "Devuelve todos los agentes de una empresa. Ejemplo : http://localhost:61291/api/v1/Agente/ListadoAgentes/54/Empresa/2/Usuario/63",
        "operationId": "Agente_ListadoAgentes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdAgente",
            "in": "path",
            "description": "Identificador de agente",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador de empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador de usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosAgenteAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Cliente/GetNacionalidades": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "summary": "Devuelve  lista con nacionalidades posibles para el cliente , con la española como primera opcion,resto\r\nalfabeticamente.",
        "operationId": "Cliente_GetNacionalidades",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/api/v1/Cliente/GetDTOAllClientes": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "summary": "Listado de clientes de un representante. Si el usuario es Administrador API, devolvera todos los clientes que tengan\r\ncontrato.",
        "operationId": "Cliente_GetAllClientes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "FinderFiltersContratacionAPI.idAgente",
            "in": "query",
            "description": "Identificador del agente",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.idEmpresa",
            "in": "query",
            "description": "Identificador de la empresa",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.idUsuario",
            "in": "query",
            "description": "Identificador del usuario",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.items",
            "in": "query",
            "description": "Cantidad máxima de resultados",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "FinderFiltersContratacionAPI.idMarca",
            "in": "query",
            "description": "Filtro opcional por marca",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.fechaDesde",
            "in": "query",
            "description": "Opcional , fecha inicio de filtrado. Solo se usa en determinadas llamadas. Formato DD/MM/AAAA",
            "required": false,
            "type": "string"
          },
          {
            "name": "FinderFiltersContratacionAPI.fechaHasta",
            "in": "query",
            "description": "Opcional , fecha fin de filtrado. Solo se usa en determinadas llamadas. Formato DD/MM/AAAA",
            "required": false,
            "type": "string"
          },
          {
            "name": "FinderFiltersContratacionAPI.isSituacionBaja",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "FinderFiltersContratacionAPI.isSituacionActivo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "FinderFiltersContratacionAPI.idsContrato",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.FinderDetailClientesAPIDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cliente"
        ],
        "summary": "Listado de clientes de un representante. Si el usuario es Administrador API, devolvera todos los clientes que tengan\r\ncontrato.",
        "operationId": "Cliente_GetAllClientes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "FinderFiltersContratacionAPI",
            "in": "body",
            "description": "Filtros de busqueda de los clientes.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.FinderFiltersContratacionAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.FinderDetailClientesAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Cliente/GetCliente/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Cliente/{IdCliente}": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "summary": "Busqueda de un cliente especifico por su Id.",
        "operationId": "Cliente_GetCliente",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdCliente",
            "in": "path",
            "description": "Identificador Cliente.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosClienteAPIDTO"
            }
          }
        }
      }
    },
    "/api/v1/Cliente/GetClientePorDni/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Dni/{Dni}": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "summary": "Busqueda de un cliente especifico por su DNI.",
        "operationId": "Cliente_GetClientePorDni",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Dni",
            "in": "path",
            "description": "Identificador Persona",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "FichaClienteDNIAPIDTO",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.FichaClienteDNIAPIDTO"
            }
          }
        }
      }
    },
    "/api/v1/Cliente/GetClientePorDniAgente/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Dni/{Dni}/IdAgente/{IdAgente}": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "summary": "Busqueda de un cliente especifico por su DNIy que tenga contrato asignado al agente que consulta sus datos.",
        "operationId": "Cliente_GetClientePorDniAgente",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Dni",
            "in": "path",
            "description": "Identificador Persona",
            "required": true,
            "type": "string"
          },
          {
            "name": "IdAgente",
            "in": "path",
            "description": "Identificador Agente",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "FichaClienteDNIAPIDTO",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.FichaClienteDNIAPIDTO"
            }
          }
        }
      }
    },
    "/api/v1/Cliente/GetDTOAllCategoria/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "summary": "Busqueda de todas los clientes Categorias.",
        "operationId": "Cliente_GetDTOAllCategoria",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ClienteCategoriaAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetDTOAllContratos": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Busca todos los contratos de un agente y sus subagentes.\r\nEspera en el body el filtro    long IdEmpresa; long IdUsuario; long IdAgente; int Items;",
        "operationId": "Contrato_GetAllContratos_New",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "FinderFiltersContratacionAPI.idAgente",
            "in": "query",
            "description": "Identificador del agente",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.idEmpresa",
            "in": "query",
            "description": "Identificador de la empresa",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.idUsuario",
            "in": "query",
            "description": "Identificador del usuario",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.items",
            "in": "query",
            "description": "Cantidad máxima de resultados",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "FinderFiltersContratacionAPI.idMarca",
            "in": "query",
            "description": "Filtro opcional por marca",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "FinderFiltersContratacionAPI.fechaDesde",
            "in": "query",
            "description": "Opcional , fecha inicio de filtrado. Solo se usa en determinadas llamadas. Formato DD/MM/AAAA",
            "required": false,
            "type": "string"
          },
          {
            "name": "FinderFiltersContratacionAPI.fechaHasta",
            "in": "query",
            "description": "Opcional , fecha fin de filtrado. Solo se usa en determinadas llamadas. Formato DD/MM/AAAA",
            "required": false,
            "type": "string"
          },
          {
            "name": "FinderFiltersContratacionAPI.isSituacionBaja",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "FinderFiltersContratacionAPI.isSituacionActivo",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "FinderFiltersContratacionAPI.idsContrato",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "GetDTOAllContratos",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.ContratoWebAPIGetBYFilter_Resultado"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "Busca todos los contratos de un agente y sus subagentes.\r\nEspera en el body el filtro    long IdEmpresa; long IdUsuario; long IdAgente; int Items;",
        "operationId": "Contrato_GetAllContratos_New",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "FinderFiltersContratacionAPI",
            "in": "body",
            "description": "Filtros para la busqueda de contratos.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.FinderFiltersContratacionAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetDTOAllContratos",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.ContratoWebAPIGetBYFilter_Resultado"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetContratoBag/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/IdContrato/{IdContrato}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Busqueda de los datos de un contrato.",
        "operationId": "Contrato_GetContratoBag",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdContrato",
            "in": "path",
            "description": "Identificador Contrato.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosContratoAPIDTO"
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/ContratoMensualPorAgente/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Agente/{IdAgente}/Anio/{Anio}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Listado de los contratos de un agente por mes.",
        "operationId": "Contrato_ContratoMensualPorAgente",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdAgente",
            "in": "path",
            "description": "Identificador Agente.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Anio",
            "in": "path",
            "description": "Año.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratoMensualAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/ContratoMensualPorAgente": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "operationId": "Contrato_ContratoMensualPorAgentePOST",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.Controllers.ContratoController.ContratoMensualPOST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratoMensualAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetDTOAllModelosContrato/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Agente/{IdAgente}/{idMarca}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Listado de los modelos de contratos de una empresa.",
        "operationId": "Contrato_GetDTOAllModelosContrato",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdAgente",
            "in": "path",
            "description": "Identificador agente.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "idMarca",
            "in": "path",
            "description": "Identificador de marca en caso de que una empresa tenga varias marcas",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.ModeloDeImpresionAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetDTOAllContratosSituaciones/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Agente/{IdAgente}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Listado de situaciones de contrato.",
        "operationId": "Contrato_GetDTOAllContratosSituaciones",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdAgente",
            "in": "path",
            "description": "Identificador Agente",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratoSituacionAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/UpdateSituacionContrato/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Agente/{IdAgente}/Contrato/{IdContrato}/Situacion/{IdCodigoSituacion}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Cambiar situacion de un contrato",
        "operationId": "Contrato_UpdateSituacionContrato",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdAgente",
            "in": "path",
            "description": "Identificador Agente",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdContrato",
            "in": "path",
            "description": "Identifacador Contrato",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdCodigoSituacion",
            "in": "path",
            "description": "Identificador Situacion",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratoAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetAllColectivos": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "Devuelve la lista de colectivos de clientes. (parametros idempresa,Idusuario)",
        "operationId": "Contrato_GetAllColectivos",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Datos",
            "in": "body",
            "description": "Identificador de empresa y usuario",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosCreacionSrvAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ColectivoAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetAllDestinosEnergia": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "Obtiene la lista de destinos de energia (parametros idempresa,Idusuario)",
        "operationId": "Contrato_GetAllDestinosEnergia",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Datos",
            "in": "body",
            "description": "Usuario y Empresa",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosCreacionSrvAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DestinosEnergiaAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetAllClienteCategoria": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "Devuelve la lista de categorias de cliente  (parametros idempresa,Idusuario)",
        "operationId": "Contrato_GetAllClienteCategoria",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Datos",
            "in": "body",
            "description": "Usuario y Empresa",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosCreacionSrvAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ClienteCategoriaAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetAllTiposCapacidad": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "Devuelve la lista de tipos de capacidad  (parametros idempresa,Idusuario)",
        "operationId": "Contrato_GetAllTiposCapacidad",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Datos",
            "in": "body",
            "description": "Usuario y Empresa",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosCreacionSrvAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.TipoCapacidadAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetMotivosSituacion/IdContratoSituacion/{IdContratoSituacion}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Consigue la lista de MotivosSituacion disponibles.\r\nUsar el IdMotivosSituacion para especificarlo en el contrato.",
        "operationId": "Contrato_GetMotivosSituacion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdContratoSituacion",
            "in": "path",
            "description": "Identifícador Contrato Situacion",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.DTOServices.TensionSuministroDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetTipoFirma/IdAgente/{IdAgente}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Consigue la lista de tipos de firma disponibles de acuerdo al agente enviado como parametro.\r\nUsar el IdAgente",
        "operationId": "Contrato_GetTipoFirma",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdAgente",
            "in": "path",
            "description": "IdentifícadorAgente",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.Controllers.TipoFirmaDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/complementarDatosFirma/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "operationId": "Contrato_complementarDatosFirma",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Datos",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.complementarDatosFirmaRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/AnularFirmaSituacionContratoCaducado/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/CodigoContrato/{CodigoContrato}": {
      "post": {
        "tags": [
          "Contrato"
        ],
        "summary": "anular firma y cambio de situacion del contrato a caducado",
        "operationId": "Contrato_AnularFirmaSituacionContratoCaducado",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "CodigoContrato",
            "in": "path",
            "description": "Codigo de Contrato",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratoAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetAllContratoTipo/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "operationId": "Contrato_GetIdContratoPDF",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "LSTADO CONTRATO TIPO"
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetIdContratoPDF/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Contrato/{IdContrato}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Devuelve el PDF de un contrato por id usando llamada remota a servicios de SIGE.\r\nRequiere configuracion de servicios\r\nMas rapido y fiable que usar el mecanismo original ya que siempre esta sincronizado con los cambios de modelo de\r\nSIGE.",
        "operationId": "Contrato_GetIdContratoPDF",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdContrato",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/GetAllCanalCodage/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Busqueda de todas los CNAE CanalES Codage",
        "operationId": "Contrato_GetAllCNAE",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.CNAEAPIDTO"
              }
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Contrato/ContratoPreviewPDF/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Contrato/{IdContrato}": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "summary": "Previsualizar contrato en formato PDF por IDContrato.",
        "operationId": "Contrato_GetIdContratoPDF_Puente",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdContrato",
            "in": "path",
            "description": "Identificador Contrato.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo PDF",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          },
          "401": {
            "description": "Error en token o procedimiento.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/ContratoPotencial/Verificar": {
      "post": {
        "tags": [
          "ContratoPotencial"
        ],
        "summary": "Verificar los contratos a dar de alta.",
        "operationId": "ContratoPotencial_ValidateContratosPOST",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ContratosPotencialesAPI",
            "in": "body",
            "description": "Pasar los datos del contrato potencial.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratosPotencialesAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratosPotencialesResponseAPIDTO"
            }
          },
          "401": {
            "description": "Token incorrecto.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/ContratoPotencial/POST": {
      "post": {
        "tags": [
          "ContratoPotencial"
        ],
        "summary": "Introduce los contratos a dar de alta.",
        "operationId": "ContratoPotencial_MergeUpdateByPOSTAsync",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ContratosPotencialesAPI",
            "in": "body",
            "description": "Pasar los datos del contrato potencial.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratosPotencialesAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ContratosPotencialesResponseAPIDTO"
            }
          },
          "401": {
            "description": "Token incorrecto.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/CUPS/GetCodigoCUPS/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/CodigoCUPS/{CodigoCUPS}": {
      "get": {
        "tags": [
          "CUPS"
        ],
        "summary": "Busqueda de los datos de un punto de suministro CUPS que ya es cliente(Datos en SIGE).",
        "operationId": "CUPS_GetCodigoCUPS",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Id de la empresa",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Id del usuario",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "CodigoCUPS",
            "in": "path",
            "description": "Codigo del cups",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosCUPSAPIDTO"
            }
          }
        }
      }
    },
    "/api/v1/CUPS/VerificarCUPSExistente/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/CUPS/{CUPS}": {
      "get": {
        "tags": [
          "CUPS"
        ],
        "summary": "Devuelve un true si el cups ya esta asignado a un contrato en la empresa.",
        "operationId": "CUPS_VerificarCUPSExistente",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "CUPS",
            "in": "path",
            "description": "Identificador CUPS",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v1/CUPS/ComprobarCupsActivo": {
      "post": {
        "tags": [
          "CUPS"
        ],
        "summary": "Devuelve si un cups tiene asociado contratos activos en base de datos",
        "operationId": "CUPS_ExisteCodigoContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "codigocups",
            "in": "body",
            "description": "Identificador CUPS",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v1/Documento/GetDatosDocumento/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Contrato/{CodigoContrato}": {
      "get": {
        "tags": [
          "Documento"
        ],
        "summary": "Busqueda de un documento.",
        "operationId": "Documento_GetDatosDocumento",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "CodigoContrato",
            "in": "path",
            "description": "Identificador Contrato.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Facturacion.ContratoDocumentoAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Documento/ImportDocumento": {
      "post": {
        "tags": [
          "Documento"
        ],
        "summary": " Inserta un documento aislado\r\n <example>\r\n {\"Documento\":\"Cadena de texto codificacion Base64 con el contenido del archivo a subir\",\r\n\"IdUsuario\":\"52\",\r\n\"IdEmpresa\":\"1\",\r\n\"CodigoContrato\":\"31992\",\r\n\"NombreDocumento\":\"PruebaPDFblanco.pdf\"}\r\n </example>",
        "operationId": "Documento_ImportPDF",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Datos",
            "in": "body",
            "description": "Parametro a insertar",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ImportPDFAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/Empresa/GetFormatoRespuesta": {
      "get": {
        "tags": [
          "Empresa"
        ],
        "summary": "Informa si la Api va a devolver los resultados como JSON o JWT",
        "operationId": "Empresa_GetFormatoRespuesta",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.Controllers.FormatoRespuesta"
            }
          }
        }
      }
    },
    "/api/v1/Empresa/GetDTOAll": {
      "get": {
        "tags": [
          "Empresa"
        ],
        "summary": "Busqueda de todas las empresas.",
        "operationId": "Empresa_GetDTOAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.EmpresaAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Empresa/GetAllCNAE/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "Empresa"
        ],
        "summary": "Busqueda de todas los CNAE",
        "operationId": "Empresa_GetAllCNAE",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.CNAEAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/FacturaVentaCabecera/GetByIds": {
      "get": {
        "tags": [
          "FacturaVentaCabecera"
        ],
        "summary": "Busqueda de las facturas de venta por su IdContrato.",
        "operationId": "FacturaVentaCabecera_Find",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdsAPI.idEmpresa",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdsAPI.idUsuario",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdsAPI.ids",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Facturacion.FinderDetailFacturaVentaCabeceraEnlaceAPIDTO"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "FacturaVentaCabecera"
        ],
        "summary": "Busqueda de las facturas de venta por su IdContrato.",
        "operationId": "FacturaVentaCabecera_Find",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdsAPI",
            "in": "body",
            "description": "Identificadores de las facturas.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.IdsAPIDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Facturacion.FinderDetailFacturaVentaCabeceraEnlaceAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/FacturaVentaCabecera/FacturaPreviewPDF/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Documento/{IdDocumento}": {
      "get": {
        "tags": [
          "FacturaVentaCabecera"
        ],
        "summary": "Busqueda del PDF de la factura.",
        "operationId": "FacturaVentaCabecera_GetFacturaPreviewPDF",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdDocumento",
            "in": "path",
            "description": "Identificador Factura.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/FechaEfecto/GetDTOAll/Empresa/{Idempresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "FechaEfecto"
        ],
        "summary": "Busqueda de todas las fechas efecto.",
        "operationId": "FechaEfecto_GetDTOAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Idempresa",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.FechaEfectoAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/GrupoProducto/GetAllProductoGrupo/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "GrupoProducto"
        ],
        "summary": "Busqueda de los productos.",
        "operationId": "GrupoProducto_GetAllProductoGrupo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Facturacion.ProductoGrupoAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/GrupoProducto/GetTextoProductoGrupo": {
      "post": {
        "tags": [
          "GrupoProducto"
        ],
        "summary": "Busqueda del grupo de productos de un producto.Si no se proporciona ninguno , responde con error.",
        "operationId": "GrupoProducto_GetTextoProductoGrupo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "TextoProducto",
            "in": "body",
            "description": "Texto del Producto.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.DTOServices.ProductoGrupoDTO"
            }
          }
        }
      }
    },
    "/api/v1/PeriodoFactura/GetDTOAll/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "PeriodoFactura"
        ],
        "summary": "Busqueda de todos los periodos de facturación.",
        "operationId": "PeriodoFactura_GetDTOAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.PeriodoFacturaAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/PeriodoFactura/GetDTOAllPeriodos/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/Linea/{LineaNegocio}": {
      "get": {
        "tags": [
          "PeriodoFactura"
        ],
        "summary": "Busqueda de todos los Perfiles de facturación",
        "operationId": "PeriodoFactura_GetDTOAllPerfilesFacturacion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "LineaNegocio",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.PerfilFacturacionAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Producto/GetAllProducto/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/IdProductoGrupo/{IdProductoGrupo}/IdMarca/{IdMarca}": {
      "get": {
        "tags": [
          "Producto"
        ],
        "summary": "Busqueda de todos los productos según el grupo.",
        "operationId": "Producto_GetAllProducto",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdProductoGrupo",
            "in": "path",
            "description": "Identificador producto grupo.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdMarca",
            "in": "path",
            "description": "Identificador de marca de empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Facturacion.ProductoAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/SIPS/ELE/GetClientesPost": {
      "post": {
        "tags": [
          "SIPS"
        ],
        "summary": "Obtiene datos del punto de suministro y opcionalmente consumos de un cups.",
        "description": "POST {{URLAPIPA}}SIPS/ELEC/GetClientesPost\r\nBody {\"CodigoCups\":\"{{CUPS_ELEC}}\"}\r\nHeader Authorization : {{TokenPA}}",
        "operationId": "SIPS_GetClientesPost_E",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SipsFinderFilters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.SIPS.SipsFinderFiltersDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CUPS encontrado y datos disponibles.",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.SIPS.SipsFinderResultDTO"
            }
          },
          "204": {
            "description": "El CUPS no consta o no constan datos",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Error en la peticion o el procesado",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Token de autorizacion ausente, erroneo o caducado.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/SIPS/ELE/CAE": {
      "post": {
        "tags": [
          "SIPS"
        ],
        "summary": "Obtener el consumo anual equivalente (CAE) de una respuesta SIPS",
        "operationId": "SIPS_CAEELE",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parametro",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.SIPS.ParametroSipsELE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Error en la peticion o el procesado",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Token de autorizacion ausente, erroneo o caducado.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/SIPS/GAS/GetClientesPost": {
      "post": {
        "tags": [
          "SIPS"
        ],
        "summary": "Obtiene datos del punto de suministro y opcionalmente consumos de un cups.",
        "operationId": "SIPS_GetClientesPost_G",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "SipsFinderFilters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.SIPS.SipsFinderFiltersDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CUPS encontrado y datos disponibles.",
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.SIPS.SipsFinderResultDTO"
            }
          },
          "204": {
            "description": "El CUPS no consta o no constan datos",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Error en la peticion o el procesado",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Token de autorizacion ausente, erroneo o caducado.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/SIPS/GAS/CAE": {
      "post": {
        "tags": [
          "SIPS"
        ],
        "summary": "Obtener el consumo anual equivalente (CAE) de una respuesta SIPS",
        "operationId": "SIPS_CAEGAS",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parametro",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sige.ServerNewAPI.DTO.SIPS.ParametroSipsGas"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Error en la peticion o el procesado",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Token de autorizacion ausente, erroneo o caducado.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/SolicitudTipo/GetDTOAll/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "SolicitudTipo"
        ],
        "summary": "Busqueda de todos los tipos de solicitudes.",
        "operationId": "SolicitudTipo_GetDTOAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.SolicitudTipoAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Tarifa/GetDTOAll/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "Tarifa"
        ],
        "summary": "Busqueda de las tarifas de la empresa.",
        "operationId": "Tarifa_GetDTOAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.TarifaAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Tarifa/GetDTOAllGruposTarifaSVA/Empresa/{IdEmpresa}/Marca/{IdMarca}/Usuario/{IdUsuario}/Tarifa/{IdTarifa}": {
      "get": {
        "tags": [
          "Tarifa"
        ],
        "summary": "Busqueda de los Tarifagrupo de la Idtarifa /empresa/usuario.",
        "operationId": "Tarifa_GetDTOAllGruposTarifaSVA",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdMarca",
            "in": "path",
            "description": "Identificador de Marca",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdTarifa",
            "in": "path",
            "description": "Identificador Tarifa",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.TarifaGrupoAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/TarifaPeaje/GetDTOAllPreciosFijosVigentes/Empresa/{IdEmpresa}/Usuario/{IdUsuario}/TarifaGrupo/{IdTarifaGrupo}": {
      "get": {
        "tags": [
          "TarifaPeaje"
        ],
        "summary": "Precios de peaje por tarifa grupo y periodo, tanto fijos como indexados.",
        "operationId": "TarifaPeaje_GetDTOAllPreciosFijosVigentes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdTarifaGrupo",
            "in": "path",
            "description": "Identificador Tarifa",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.TablasMaestras.DatosPreciosVigentesAPIDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/TipoCobro/GetDTOAll/Empresa/{IdEmpresa}/Usuario/{IdUsuario}": {
      "get": {
        "tags": [
          "TipoCobro"
        ],
        "summary": "Busqueda de los tipos de cobro de la empresa.",
        "operationId": "TipoCobro_GetDTOAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "IdEmpresa",
            "in": "path",
            "description": "Identificador Empresa.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "IdUsuario",
            "in": "path",
            "description": "Identificador Usuario.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sige.ServerNewAPI.DTO.DTOServices.TipoCobroDTO"
              }
            }
          }
        }
      }
    },
    "/api/v1/Usuario/Token": {
      "get": {
        "tags": [
          "Usuario"
        ],
        "summary": "Funcion basica inicial para generar un token. Recibe el User y el Password como cabeceras, y el valor debe ser el\r\nusuario y el password respectivamente codificados en base64 con rellenado (padded base64)",
        "operationId": "Usuario_Token",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Token JWT",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v1/Usuario/Token/Entorno/{Entorno}": {
      "get": {
        "tags": [
          "Usuario"
        ],
        "summary": "Funcion basica inicial para generar un token. Recibe el User y el Password como cabeceras, y el valor debe ser el\r\nusuario y el password respectivamente codificados en base64 con rellenado (padded base64)",
        "operationId": "Usuario_Token",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Entorno",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Token JWT",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Sige.ServerNewAPI.DTO.Contratacion.DatosAgenteAPIDTO": {
      "type": "object",
      "properties": {
        "Ciudad": {
          "type": "string"
        },
        "CodigoPostal": {
          "type": "string"
        },
        "CodigoTipoAgente": {
          "format": "int32",
          "type": "integer"
        },
        "CodigoVendedor": {
          "type": "string"
        },
        "Direccion": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "EmailSolicitud": {
          "type": "string"
        },
        "IdAgente": {
          "format": "int64",
          "type": "integer"
        },
        "IdAgenteGrupo": {
          "format": "int64",
          "type": "integer"
        },
        "Movil": {
          "type": "string"
        },
        "NombreAgente": {
          "type": "string"
        },
        "Notas": {
          "type": "string"
        },
        "Telefono": {
          "type": "string"
        },
        "web": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.ErroresAPIDTO": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.FinderFiltersContratacionAPIDTO": {
      "description": "Filtro general para contratacion",
      "type": "object",
      "properties": {
        "IdAgente": {
          "format": "int64",
          "description": "Identificador del agente",
          "type": "integer"
        },
        "IdEmpresa": {
          "format": "int64",
          "description": "Identificador de la empresa",
          "type": "integer"
        },
        "IdUsuario": {
          "format": "int64",
          "description": "Identificador del usuario",
          "type": "integer"
        },
        "Items": {
          "format": "int32",
          "description": "Cantidad máxima de resultados",
          "type": "integer"
        },
        "IdMarca": {
          "format": "int64",
          "description": "Filtro opcional por marca",
          "type": "integer"
        },
        "FechaDesde": {
          "description": "Opcional , fecha inicio de filtrado. Solo se usa en determinadas llamadas. Formato DD/MM/AAAA",
          "type": "string"
        },
        "FechaHasta": {
          "description": "Opcional , fecha fin de filtrado. Solo se usa en determinadas llamadas. Formato DD/MM/AAAA",
          "type": "string"
        },
        "IsSituacionBaja": {
          "type": "boolean"
        },
        "IsSituacionActivo": {
          "type": "boolean"
        },
        "IdsContrato": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          }
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.FinderDetailClientesAPIDTO": {
      "type": "object",
      "properties": {
        "Apellido1": {
          "type": "string"
        },
        "Apellido2": {
          "type": "string"
        },
        "Ciudad": {
          "type": "string"
        },
        "CodigoContrato": {
          "format": "int64",
          "type": "integer"
        },
        "Denominacion": {
          "type": "string"
        },
        "Direccion": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "IdCliente": {
          "format": "int64",
          "type": "integer"
        },
        "IdContrato": {
          "format": "int64",
          "type": "integer"
        },
        "Identidad": {
          "type": "string"
        },
        "Nombre": {
          "type": "string"
        },
        "PersonaFisica": {
          "type": "boolean"
        },
        "RazonSocial": {
          "type": "string"
        },
        "TelefonoFijo": {
          "type": "string"
        },
        "TelefonoMovil": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.DatosClienteAPIDTO": {
      "type": "object",
      "properties": {
        "Aclarador": {
          "type": "string"
        },
        "Apellido1": {
          "type": "string"
        },
        "Apellido2": {
          "type": "string"
        },
        "ClienteContacto": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosClienteContactoAPIDTO"
          }
        },
        "ClienteEnvio": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosClienteEnvioAPIDTO"
          }
        },
        "ClientePago": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.DatosClientePagoAPIDTO"
          }
        },
        "CodigoContable": {
          "type": "string"
        },
        "Colectivo": {
          "type": "string"
        },
        "ColectivoRepresentante": {
          "type": "string"
        },
        "Comentario": {
          "type": "string"
        },
        "Identidad": {
          "type": "string"
        },
        "IdentificadorRep": {
          "type": "string"
        },
        "Nacionalidad": {
          "description": "Codigo de dos digitos necesario para señalar la nacionalidad de la identificacion del titular. (España = ES)",
          "type": "string"
        },
        "Nombre": {
          "type": "string"
        },
        "NombreCalle": {
          "type": "string"
        },
        "Numero": {
          "format": "int32",
          "type": "integer"
        },
        "Observaciones": {
          "type": "string"
        },
        "RazonSocial": {
          "type": "string"
        },
        "Representante": {
          "type": "string"
        },
        "TextoBloque": {
          "type": "string"
        },
        "TextoCalificador": {
          "type": "string"
        },
        "TextoCiudad": {
          "type": "string"
        },
        "TextoEscalera": {
          "type": "string"
        },
        "TextoGrupo": {
          "type": "string"
        },
        "TextoIdioma": {
          "type": "string"
        },
        "TextoImpuesto": {
          "type": "string"
        },
        "TextoNumero": {
          "type": "string"
        },
        "TextoPiso": {
          "type": "string"
        },
        "TextoPortal": {
          "type": "string"
        },
        "TextoPuerta": {
          "type": "string"
        },
        "TipoImprimir": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.DatosClienteContactoAPIDTO": {
      "type": "object",
      "properties": {
        "Contacto": {
          "type": "string"
        },
        "Departamente": {
          "type": "string"
        },
        "TipoContacto": {
          "type": "string"
        },
        "Valor": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.DatosClienteEnvioAPIDTO": {
      "type": "object",
      "properties": {
        "AclaradorE": {
          "type": "string"
        },
        "CiudadCUPS": {
          "type": "string"
        },
        "CodPostalE": {
          "type": "string"
        },
        "DireccionCUPS": {
          "type": "string"
        },
        "NombreE": {
          "type": "string"
        },
        "NumeroE": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.DatosClientePagoAPIDTO": {
      "type": "object",
      "properties": {
        "Banco": {
          "type": "string"
        },
        "Bic": {
          "type": "string"
        },
        "Colectivo": {
          "type": "string"
        },
        "DiaPago": {
          "format": "int32",
          "type": "integer"
        },
        "IBAN": {
          "type": "string"
        },
        "IdentidadPago": {
          "type": "string"
        },
        "IsIbanLibre": {
          "type": "boolean"
        },
        "NombreP": {
          "type": "string"
        },
        "TipoCobro": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.FichaClienteDNIAPIDTO": {
      "type": "object",
      "properties": {
        "Aclarador": {
          "type": "string"
        },
        "Apellido1": {
          "type": "string"
        },
        "Apellido2": {
          "type": "string"
        },
        "Calle": {
          "type": "string"
        },
        "Ciudad": {
          "type": "string"
        },
        "ClientesContacto": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sige.ServerNewAPI.DTO.Contratacion.ClienteContactoAPIDTO"
          }
        },
        "CodPostal": {
          "type": "string"
        },
        "IdCliente": {
          "format": "int64",
          "type": "integer"
        },
        "Identificador": {
          "type": "string"
        },
        "Nombre": {
          "type": "string"
        },
        "Numero": {
          "format": "int32",
          "type": "integer"
        },
        "Provincia": {
          "type": "string"
        },
        "RazonSocial": {
          "type": "string"
        },
        "TipoNumero": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.ClienteContactoAPIDTO": {
      "type": "object",
      "properties": {
        "TipoContacto": {
          "type": "string"
        },
        "Valor": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.Contratacion.ClienteCategoriaAPIDTO": {
      "type": "object",
      "properties": {
        "CodigoCategoria": {
          "type": "string"
        },
        "Entorno": {
          "type": "string"
        },
        "IdClienteCategoria": {
          "format": "int64",
          "type": "integer"
        },
        "TextoCategoria": {
          "type": "string"
        }
      }
    },
    "Sige.ServerNewAPI.DTO.ContratoWebAPIGetBYFilter_Resultado": {
      "description": "",
      "type": "object",
      "properties": {
        "IdCliente": {
          "format": "int64",
          "description": "",
          "type": "integer"
        },
        "IdContrato": {
          "format": "int64",
          "description": "",
          "type": "integer"
        },
        "IdContratoSituacion": {
          "format": "int64",
          "description": "",
          "type": "integer"
        },
        "CodigoContrato": {
          "format": "int64",
          "description": "",
          "type": "integer"
        },
        "CodigoVendedor": {
          "description": "",
          "type": "string"
        },
        "NombreAgente": {
          "description": "",
          "type": "string"
        },
        "NombreSubAgente": {
          "description": "",
          "type": "string"
        },
        "CodigoCUPS": {
          "description": "",
          "type": "string"
        },
        "FechaContrato": {
          "format": "date-time",
          "description": "",
          "type": "string"
        },
        "FechaAlta": {
          "format": "date-time",
          "description": "",
          "type": "string"
        },
        "FechaBaja": {
          "format": "date-time",
          "description": "",
          "type": "string"
        },
        "FechaVTO": {
          "format": "date-time",
          "description": "",
          "type": "string"
        },
        "FechaContratoOperator": {
          "description": "",
          "type": "string"
        },
        "FechaAltaOperator": {
          "description": "",
          "type": "string"
        },
        "FechaBajaOperator": {
          "description": "",
          "type": "string"
        },
        "FechaVTOOperator": {
          "description": "",
          "type": "string"
        },
        "Situacion": {
          "description": "",
          "type": "string"
        },
        "SituacionWeb": {
          "description": "",
[...]
